body {
  background-color: #FCF9F9;
  padding: 0;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
}

h5, h6 {
  font-family: 'Asap Condensed', sans-serif;
}

p {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 3px;
}


a:link {
  color: #393D40;
  text-decoration: none;
}

a:visited {
  color: #393D40;
  text-decoration: none;
}

a:hover {
  color: #7776B1;
  text-decoration: none;
}

a:active {
  color: #7776B1;
  text-decoration: none;
}

.photo-upload {
  text-align: center;
  margin-left: 50%;
}

.banner-container {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.banner-container h1 {
  margin: 20px;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 80px;
  padding: 5px;
  font-weight: bold;
}

.banner-container p {
  font-size: 20px;
  font-family: 'Asap Condensed', sans-serif;
  color: #393D40;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 300px;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  font-family: 'Asap Condensed', sans-serif;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.show-container {
  display: flex;
}

.description-container {
  width: 300px;
}

.notes-container {
  flex-grow: 1;
}

.card-accordion {
  overflow: hidden;
  height: 100%;
  padding: 20px;
}


#map {
  height: 100vh;
  flex: 0 0 300px;
  top: 0;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF !important;
  font-size: 15px;
  text-decoration: none;
  width: 200px;
  height: 40px;
  background: #38417D;
  border: 0;
}

.btn-index {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF !important;
  font-size: 12px;
  text-decoration: none;
  width: 110px;
  height: 32px;
  background: #38417D;
  border: 0;
}

.cards {
  font-family: 'Asap Condensed', sans-serif;
  margin: 0 auto;
  padding: 0;
}

.show-card {
  width: 400px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.card-case {
  display: flex;
  position: relative;
  width: 570px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  // width: 100%;
  // height: 100%;
  // left: 588px;
  // top: 403px;
  // background: #FFFFFF;
  // border: 1px solid rgba(0, 0, 0, 0.25);
  // box-sizing: border-box;
  // border-radius: 3px;
}

// .map-card {
//   position: relative;
//   width: 300px;
//   height: 156px;
//   left: 252px;
//   top: -110px;
// }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #38417D;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #686F75;
}

.card-safety a {
  color: #393D40;
}

.id {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.home-container {
  position: absolute;
  width: 864px;
  height: 648px;
  left: 144px;
  top: 70px;
  background: #FCF9F9;
}

.home-title {
  position: absolute;
  width: 402px;
  height: 88px;
  left: 80px;
  top: 189px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 133.68%;
  /* or 48px */
  display: flex;
  align-items: center;
  letter-spacing: -0.06em;
  color: #333333;

}

.home-description {
  position: absolute;
  width: 231px;
  height: 93px;
  left: 80px;
  top: 260px;
  font-family: 'Asap Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  display: flex;
  align-items: center;
  letter-spacing: -0.06em;
  color: #333333;
  padding: 5px;
}


.home-button {
  position: absolute;
  width: 231px;
  height: 53px;
  left: 80px;
  top: 340px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.085em;
}

.home-img {
  position: absolute;
  width: 639px;
  height: 491px;
  left: 460px;
  top: 150px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

