h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h5, h6 {
  font-family: 'Asap Condensed', sans-serif;
}

p {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 3px;
}


.btn {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  font-family: 'Asap Condensed', sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #212227;
  font-family: 'Asap Condensed', sans-serif;
  color: #D3E4FF;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #8693AB;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 10px;
  background-color: white;
  display: none;
  overflow: hidden;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
