body {
  background-color: #000000;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
}

h5, h6 {
  font-family: 'Asap Condensed', sans-serif;
}

p {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 3px;
}

.banner-container {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  min-height: (100vh - 10vh);
  width: 100%;
}

.banner-container h1 {
  margin: 20px;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 80px;
  padding: 5px;
  font-weight: bold;
}

.banner-container p {
  font-size: 20px;
  font-family: 'Asap Condensed', sans-serif;
  color: #FFFFFF;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  font-family: 'Asap Condensed', sans-serif;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #212227;
  font-family: 'Open Sans', sans-serif;
  color: #D3E4FF;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #8693AB;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 10px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.card-safety a {
  color: #8693AB;
}


//banner

@media screen and (max-width: 1024px) {
  .banner {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

