<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
      <h3>List your case</h3>
      <div class="gap-30"></div>
      <p>Please fill in the form. (*) are mandatory columns.</p>
      <%= simple_form_for [@case, @case_risk] do |f| %>
        <%= f.association :risk, collection: Risk.all %>
        <%= f.full_error :token %>
        <%= f.submit 'Save your case', class: "btn btn-outline-dark" %>
      <% end %>
      </div>
    </div>
  </div>
</center>


