<h1>Open</h1>
<!-- Card deck -->
<div class="card-deck">
<% @cases.each do |c| %>
  <!-- Card -->
  <div class="card shadow-sm" style="width: 18rem;">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h5 class="card-title"><%= c.family_name %></h5>
      <!--Text-->
    <h6 class="card-subtitle mb-2 text-muted">Case #: <%= c.case_number %></h6>
    <p class="card-text"><%= c.summary %></p>
    <p class="card-delete"><%= link_to "DELETE", case_path(c), method: :delete %></p>
  </div>
</div>
<% end %>
