<div class="container">
  <div class="d-flex justify-content-around mt-5">
      <div class="sexy_line"></div>
      <h4 class="mt-3">Summary</h4>
      <div class="sexy_line"></div>
      <p class="mt-4"><%= @case.summary %></p>
      <div class="sexy_line"></div>
      <h4 class="mt-3">Additional reports</h4>
      <div class="sexy_line"></div>
      <p class="mt-4">Luxury offers free standard shipping on qualifying orders of $150 or more before taxes and shipping charges are added or $25 flat-rate standard shipping. If you need an item quicker you will have the option to upgrade to expedited shipping at checkout for an additional fee. Return shipping is free for all rentals. </p>
    </div>
  </div>
