<div class="banner-container" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/louixa/image/upload/v1560139607/jenn-evelyn-ann-112980-unsplash_uinthk.jpg);">
  <div class="main-container">
    <center><h1>ChildConnect</h1></center>
    <center><p>For the productivity of child welfare workers.</p></center>
    <center><%= link_to "LOG IN", new_user_session_path(@case), class: 'btn btn-secondary btn-lg m-5 ml-5 mr-5 pl-5 pr-5 pt-2' %></center>
  </div>
</div>

