<!-- <div class="banner-container" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/louixa/image/upload/v1560139607/jenn-evelyn-ann-112980-unsplash_uinthk.jpg);">
  <div class="main-container">
    <center><h1>ChildConnect</h1></center>
    <center><p>For the productivity of child welfare workers.</p></center>
    <center><%= link_to "LOG IN", new_user_session_path(@case), class: 'btn btn-secondary btn-lg m-5 ml-5 mr-5 pl-5 pr-5 pt-2' %></center>
  </div>
</div>

 -->


<div class="home-container">
  <div class="home-title">
    <h1>A Child Welfare Caseload Manager</h1>
  </div>
  <div class="home-description">
    <div class="d-flex my-1"><div class="rounded-check">&#10004;</div><h5> Document your cases</h5></div>
    <div class="d-flex my-1"><div class="rounded-check">&#10004;</div><h5> Record your processes</h5></div>
    <div class="d-flex my-1"><div class="rounded-check">&#10004;</div><h5> Schedule your deadlines</h5></div>
    <div class="d-flex my-1"><div class="rounded-check">&#10004;</div><h5> Present your evidence</h5></div>
  </div>
  <div class="home-button">
    <%= link_to "GET STARTED", cases_path, class: 'btn btn-b btn-sm mt-4 font-weight-light p-2' %>
  </div>
  <div class="home-img">
    <img src="https://res.cloudinary.com/louixa/image/upload/v1560155800/1_ro198j.png" style="width: 639px; height: 491px;">
  </div>
</div>
