<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card" style="width: 18rem;">

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h5 class="card-title">Last name, First name</h5>
      <!--Text-->
    <h6 class="card-subtitle mb-2 text-muted">Open: -</h6>
    <p class="card-text">Case Summary</p>
  </div>
</div>

  <!-- Card -->

    <!-- Card -->
  <div class="card" style="width: 18rem;">

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h5 class="card-title">Last name, First name</h5>
      <!--Text-->
    <h6 class="card-subtitle mb-2 text-muted">subtitle</h6>
    <p class="card-text">Case Summary</p>
  </div>
</div>
  <!-- Card -->

    <!-- Card -->
  <div class="card" style="width: 18rem;">

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h5 class="card-title">Last name, First name</h5>
      <!--Text-->
    <h6 class="card-subtitle mb-2 text-muted">subtitle</h6>
    <p class="card-text">Case Summary</p>
  </div>
</div>
  <!-- Card -->

</div>
<!-- Card deck -->
