.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background-color: #FFFFFF;
}

.btn:hover {
  opacity: 0.8;
}

.btn-priority {
  border: 0px;
}

.btn-b {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  width: 200px;
  height: 40px;
  background-color: #555555;
  color: #FFFFFF !important;
  border-radius: 2px;
  border: 0;
}

.btn-b:hover {
  opacity: 0.8;
}

.btn-lg {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF !important;
  font-size: 15px;
  text-decoration: none;
  width: 70%;
  height: 40px;
  background: #555555;
  border: 0;
  border-radius: 5px;
}

.btn-lg:hover {
  opacity: 0.8;
}

.btn-md {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF !important;
  font-size: 15px;
  text-decoration: none;
  width: 70%;
  height: 40px;
  background: #555555;
  border: 0;
  border-radius: 5px;
}

span a {
  color: #000000;
}
span:hover a {
  color: #393D40;
}
