.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #393D40;
  background-color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
// .logo-nyc {
//     text-indent: 100%;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 93px;
//     height: 31px;
//     display: block;
//     background-image: url(/assets/images/NYC-logo.png);
//     background-size: 93px 31px;
//     float: left;
//     margin-right: 10px;
//     color: #fff;
// }

// .a:link { color: #fff; }

// .a:hover { color: #ff0000; }
// .a:active { color: #ff8000; }
