.navbar-brand {
  font-size: 2em;
  color: #393D40;
  padding: 7px;
}

.dropdown-menu {
  color: #393D40;
  background-color: #FFFFFF;
  padding: 7px;
}

.navbar {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 70px;
  color: #393D40;
  background-color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav {
  font-size: 1.2em;
}


