.navbar-brand {
  font-size: 2em;
  color: #D3E4FF;
  padding: 7px;
}

.dropdown-menu {
  color: #EFF8FF;
  background-color: #212227;
  padding: 7px;
}

.navbar {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 70px;
  color: #EFF8FF;
  background-color: #212227;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav {
  font-size: 1.2em;
}

.navbar a {
  font-family: 'Roboto Condensed', sans-serif;
  color: #E8F4FF;
}

