// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-brand {
  color: #ffffff;
  padding: 5px;
}

.dropdown-menu {
  color: #EFF8FF;
  background-color: #212227;
}
.navbar {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #EFF8FF;
  background-color: #212227;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar a {
  color: #EFF8FF;
}
