<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
      <h3>Submit Your Case Note</h3>
      <div class="gap-30"></div>
      <p>(*) are mandatory entries</p>
      <%= simple_form_for [@case, @case_action] do |f| %>
        <%= f.input :report, label: 'Case Note', error: 'Case Note entry cannot be left blank.', as: :text %>
        <p>Case Status:</p>
          <input type="radio" name="status" value="male"> Unchanged<br>
          <input type="radio" name="status" value="female"> Close<br>
          <input type="radio" name="status" value="other"> Court<br>
        <%= f.full_error :token %>
        <%= f.submit 'ADD NOTE ', class: 'btn btn-secondary rounded-pill btn-sm m-2 ml-5 p-2' %>
      <% end %>
      </div>
    </div>
  </div>
</center>
