<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
      <h3>Add a new place</h3>
      <div class="gap-30"></div>
      <p>Please fill in the form. (*) are mandatory columns.</p>
      <%= simple_form_for [@case, @place] do |cp| %>
        <%= cp.input :address %>
        <%= cp.full_error :token %>
        <%= cp.submit 'Add place', class: "btn-b btn-sm ml-1 mt-4 font-weight-light pr-3" %>
      <% end %>
      </div>
    </div>
  </div>
</center>
