<footer class="page-footer font-small pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mb-md-0 mb-3 px-5">
        <ul class="list-unstyled">
          <li>
            <a href="https://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies </a>
          </li>
          <li>
            <a href="https://www1.nyc.gov/home/contact-us.page">Contact NYC Government </a>
          </li>
          <li>
            <a href="http://www.nyc.gov/notifynyc">Notify NYC </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-md-0 mb-3 px-5">
        <ul class="list-unstyled">
          <li>
            <a href="https://www1.nyc.gov/connect/social-media.page">Stay Connected </a>
          </li>
          <li>
            <a href="https://nycwell.cityofnewyork.us/">NYC WELL </a>
          </li>
          <li>
            <a href="https://www.safehorizon.org/">Safety Horizon </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-md-0 mt-3 pr-5">
        <%= image_tag("NYC-logo.png", width: 80) %>
        <p class="mt-2">City of New York. 2019 All Rights Reserved. NYC is a trademark and service mark of the City of New York</p>
        <p style="display: block; width: 100%;">
          <a title="Privacy Ploicy " href="/home/privacy-policy.page">Privacy Policy.</a>&nbsp;
          <a title="Terms of Use" href="/home/terms-of-use.page">Terms of Use.</a>&nbsp;
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://www.childconnect.co/"> ChildConnect</a>
  </div>
</footer>
